/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.forever
/.git
/.*
/.gnupg
/.local
/.node_repl_history
/.npm
/.profile
/.python_history
/.viminfo
/.vscode-server
/.wget-hsts
/apache-tomcat-9.0.37
/jdk-14.0.2
/node-v14.6.0-linux-x64
/soap?wsdl
/soap?wsdl.1
/soap?wsdl.2
/soap?wsdl.3
/soap?wsdl.4
/www
/backend/rest/node_modules/*
/libs/*
/backend/soap/venv/*
/node_modules